<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.IA</key>
	<array>
		<string>Iacute</string>
		<string>uni01CF</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern2.IA</key>
	<array>
		<string>Iacute</string>
		<string>uni01CF</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>o</string>
		<string>a.single</string>
	</array>
</dict>
</plist>
