<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Build Name</string>
			<key>value</key>
			<string>Big Bang</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>m01</key>
			<dict>
				<key>HH</key>
				<string>72</string>
				<key>HV</key>
				<string>85</string>
				<key>OH</key>
				<string>76</string>
				<key>OV</key>
				<string>90</string>
				<key>nV</key>
				<string>82</string>
				<key>oH</key>
				<string>70</string>
				<key>oV</key>
				<string>86</string>
				<key>tH</key>
				<string>68</string>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetCapStyle</key>
		<integer>4</integer>
		<key>GSOffsetHorizontal</key>
		<integer>30</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>30</integer>
		<key>KernOnIndependentPairs</key>
		<array>
			<string>k n</string>
			<string>r hyphen</string>
			<string>H quotesingle</string>
			<string>k hyphen</string>
			<string>hyphen T</string>
		</array>
		<key>KernOnModels</key>
		<array>
			<string>T o</string>
			<string>A T</string>
			<string>A v</string>
			<string>T r</string>
			<string>P A</string>
			<string>V o</string>
			<string>k o</string>
			<string>s parenright</string>
			<string>A C</string>
			<string>o x</string>
			<string>o v</string>
			<string>tse-cy u-cy</string>
			<string>o f</string>
			<string>C parenright</string>
			<string>R T</string>
			<string>A S</string>
			<string>i a</string>
			<string>S A</string>
			<string>a u</string>
			<string>z i</string>
			<string>E l</string>
			<string>S t</string>
			<string>l s</string>
			<string>L a</string>
			<string>N o</string>
			<string>R E</string>
			<string>T h</string>
			<string>e i</string>
			<string>f n</string>
			<string>n k</string>
			<string>n n</string>
			<string>o n</string>
			<string>u n</string>
			<string>M u</string>
			<string>E H</string>
			<string>H H</string>
			<string>L H</string>
			<string>O H</string>
			<string>T H</string>
			<string>V H</string>
			<string>C r</string>
			<string>W i</string>
			<string>H S</string>
			<string>R A</string>
			<string>c o</string>
			<string>C O</string>
			<string>i idieresis</string>
			<string>iacute icaron</string>
		</array>
		<key>KernOnUserSetAutopairs</key>
		<array>
			<string>Icaron Icaron</string>
			<string>Iacute Icaron</string>
			<string>Icircumflex Idieresis</string>
			<string>Idieresis Icircumflex</string>
			<string>Iacute Idieresis</string>
			<string>Iacute Imacron</string>
			<string>Iacute Itilde</string>
			<string>Icaron Idieresis</string>
			<string>Icaron Idotaccent</string>
			<string>Icaron Igrave</string>
			<string>Icaron Imacron</string>
			<string>Icaron Iogonek</string>
			<string>Icaron Itilde</string>
			<string>Icircumflex Icaron</string>
			<string>Icircumflex Idotaccent</string>
			<string>Icircumflex Imacron</string>
			<string>Icircumflex Iogonek</string>
			<string>Icircumflex Itilde</string>
			<string>Idieresis Iacute</string>
			<string>Idieresis Icaron</string>
			<string>Idieresis Imacron</string>
			<string>Idieresis Iogonek</string>
			<string>Idieresis Itilde</string>
			<string>Idotaccent Iacute</string>
			<string>Idotaccent Icaron</string>
			<string>Idotaccent Icircumflex</string>
			<string>Idotaccent Idieresis</string>
			<string>Idotaccent Imacron</string>
			<string>Idotaccent Iogonek</string>
			<string>Idotaccent Itilde</string>
			<string>Igrave Icaron</string>
			<string>Igrave Idieresis</string>
			<string>Igrave Idotaccent</string>
			<string>Igrave Iogonek</string>
			<string>Igrave Itilde</string>
			<string>Itilde Iacute</string>
			<string>Itilde Icaron</string>
			<string>Itilde Icircumflex</string>
			<string>Itilde Idotaccent</string>
			<string>Itilde Igrave</string>
			<string>Itilde Imacron</string>
			<string>zdotaccent g.double</string>
			<string>zcaron g.double</string>
			<string>zacute g.double</string>
			<string>z g.double</string>
			<string>ytilde g.double</string>
			<string>ygrave g.double</string>
			<string>ydieresis g.double</string>
			<string>ycircumflex g.double</string>
			<string>yacute g.double</string>
			<string>y g.double</string>
			<string>x g.double</string>
			<string>wgrave g.double</string>
			<string>wdieresis g.double</string>
			<string>wcircumflex g.double</string>
			<string>wacute g.double</string>
			<string>w g.double</string>
			<string>v g.double</string>
			<string>utilde g.double</string>
			<string>uring g.double</string>
			<string>uogonek g.double</string>
			<string>umacron g.double</string>
			<string>uhungarumlaut g.double</string>
			<string>ugrave g.double</string>
			<string>udieresismacron g.double</string>
			<string>udieresisgrave g.double</string>
			<string>udieresiscaron g.double</string>
			<string>udieresisacute g.double</string>
			<string>udieresis g.double</string>
			<string>ucircumflex g.double</string>
			<string>ucaron g.double</string>
			<string>ubreve g.double</string>
			<string>uacute g.double</string>
			<string>u g.double</string>
			<string>tcommaaccent g.double</string>
			<string>tcedilla g.double</string>
			<string>tcaron g.double</string>
			<string>t g.double</string>
			<string>longs g.double</string>
			<string>germandbls g.double</string>
			<string>scommaaccent g.double</string>
			<string>scircumflex g.double</string>
			<string>scedilla g.double</string>
			<string>scaron g.double</string>
			<string>saltillo g.double</string>
			<string>sacute g.double</string>
			<string>rcommaaccent g.double</string>
			<string>rcaron g.double</string>
			<string>racute g.double</string>
			<string>r g.double</string>
			<string>q g.double</string>
			<string>thorn g.double</string>
			<string>p g.double</string>
			<string>oe g.double</string>
			<string>otilde g.double</string>
			<string>oslash g.double</string>
			<string>omacron g.double</string>
			<string>ohungarumlaut g.double</string>
			<string>ograve g.double</string>
			<string>odieresis g.double</string>
			<string>ocircumflex g.double</string>
			<string>ocaron g.double</string>
			<string>oacute g.double</string>
			<string>o g.double</string>
			<string>ntilde g.double</string>
			<string>ncommaaccent g.double</string>
			<string>ncaron g.double</string>
			<string>nacute g.double</string>
			<string>n g.double</string>
			<string>m g.double</string>
			<string>lslash g.double</string>
			<string>lcommaaccent g.double</string>
			<string>lcaron g.double</string>
			<string>lacute g.double</string>
			<string>l g.double</string>
			<string>kcommaaccent g.double</string>
			<string>k g.double</string>
			<string>jacute g.double</string>
			<string>jdotless g.double</string>
			<string>j g.double</string>
			<string>itilde g.double</string>
			<string>iogonek g.double</string>
			<string>imacron g.double</string>
			<string>ij g.double</string>
			<string>igrave g.double</string>
			<string>idotaccent g.double</string>
			<string>idieresis g.double</string>
			<string>icircumflex g.double</string>
			<string>icaron g.double</string>
			<string>iacute g.double</string>
			<string>idotless g.double</string>
			<string>i g.double</string>
			<string>hcircumflex g.double</string>
			<string>hbar g.double</string>
			<string>h g.double</string>
			<string>gdotaccent g.double</string>
			<string>gcommaaccent g.double</string>
			<string>gcircumflex g.double</string>
			<string>gbreve g.double</string>
			<string>g g.double</string>
			<string>f g.double</string>
			<string>schwa g.double</string>
			<string>etilde g.double</string>
			<string>eogonek g.double</string>
			<string>emacron g.double</string>
			<string>egrave g.double</string>
			<string>edotaccent g.double</string>
			<string>edieresis g.double</string>
			<string>ecircumflex g.double</string>
			<string>ecaron g.double</string>
			<string>eacute g.double</string>
			<string>e g.double</string>
			<string>dcroat g.double</string>
			<string>dcaron g.double</string>
			<string>eth g.double</string>
			<string>d g.double</string>
			<string>cdotaccent g.double</string>
			<string>ccircumflex g.double</string>
			<string>ccedilla g.double</string>
			<string>ccaron g.double</string>
			<string>cacute g.double</string>
			<string>c g.double</string>
			<string>b g.double</string>
			<string>ae g.double</string>
			<string>atilde g.double</string>
			<string>aring g.double</string>
			<string>aogonek g.double</string>
			<string>amacron g.double</string>
			<string>agrave g.double</string>
			<string>adieresis g.double</string>
			<string>acircumflex g.double</string>
			<string>acaron g.double</string>
			<string>abreve g.double</string>
			<string>aacute g.double</string>
			<string>J.slab g.double</string>
			<string>I.slab g.double</string>
			<string>IJ.jslab g.double</string>
			<string>IJ.islab g.double</string>
			<string>IJ.ijslab g.double</string>
			<string>Zdotaccent g.double</string>
			<string>Zcaron g.double</string>
			<string>Zacute g.double</string>
			<string>Z g.double</string>
			<string>Ytilde g.double</string>
			<string>Ygrave g.double</string>
			<string>Ydieresis g.double</string>
			<string>Ycircumflex g.double</string>
			<string>Yacute g.double</string>
			<string>Y g.double</string>
			<string>X g.double</string>
			<string>Wgrave g.double</string>
			<string>Wdieresis g.double</string>
			<string>Wcircumflex g.double</string>
			<string>Wacute g.double</string>
			<string>W g.double</string>
			<string>V g.double</string>
			<string>Utilde g.double</string>
			<string>Uring g.double</string>
			<string>Uogonek g.double</string>
			<string>Umacron g.double</string>
			<string>Uhungarumlaut g.double</string>
			<string>Ugrave g.double</string>
			<string>Udieresismacron g.double</string>
			<string>Udieresisgrave g.double</string>
			<string>Udieresiscaron g.double</string>
			<string>Udieresisacute g.double</string>
			<string>Udieresis g.double</string>
			<string>Ucircumflex g.double</string>
			<string>Ucaron g.double</string>
			<string>Ubreve g.double</string>
			<string>Uacute g.double</string>
			<string>U g.double</string>
			<string>Tcommaaccent g.double</string>
			<string>Tcedilla g.double</string>
			<string>Tcaron g.double</string>
			<string>Schwa g.double</string>
			<string>Germandbls g.double</string>
			<string>Scommaaccent g.double</string>
			<string>Scircumflex g.double</string>
			<string>Scedilla g.double</string>
			<string>Scaron g.double</string>
			<string>Saltillo g.double</string>
			<string>Sacute g.double</string>
			<string>S g.double</string>
			<string>Rcommaaccent g.double</string>
			<string>Rcaron g.double</string>
			<string>Racute g.double</string>
			<string>R g.double</string>
			<string>Q g.double</string>
			<string>Thorn g.double</string>
			<string>P g.double</string>
			<string>OE g.double</string>
			<string>Otilde g.double</string>
			<string>Oslash g.double</string>
			<string>Omacron g.double</string>
			<string>Ohungarumlaut g.double</string>
			<string>Ograve g.double</string>
			<string>Odieresis g.double</string>
			<string>Ocircumflex g.double</string>
			<string>Ocaron g.double</string>
			<string>Oacute g.double</string>
			<string>O g.double</string>
			<string>Ntilde g.double</string>
			<string>Ncommaaccent g.double</string>
			<string>Ncaron g.double</string>
			<string>Nacute g.double</string>
			<string>N g.double</string>
			<string>M g.double</string>
			<string>Lslash g.double</string>
			<string>Lcommaaccent g.double</string>
			<string>Lcaron g.double</string>
			<string>Lacute g.double</string>
			<string>L g.double</string>
			<string>Kcommaaccent g.double</string>
			<string>K g.double</string>
			<string>Jcircumflex g.double</string>
			<string>Jacute g.double</string>
			<string>J g.double</string>
			<string>Itilde g.double</string>
			<string>Iogonek g.double</string>
			<string>Imacron g.double</string>
			<string>Igrave g.double</string>
			<string>Idotaccent g.double</string>
			<string>Idieresis g.double</string>
			<string>Icircumflex g.double</string>
			<string>Icaron g.double</string>
			<string>Iacute g.double</string>
			<string>IJ g.double</string>
			<string>I g.double</string>
			<string>Hcircumflex g.double</string>
			<string>Hbar g.double</string>
			<string>H g.double</string>
			<string>Gdotaccent g.double</string>
			<string>Gcommaaccent g.double</string>
			<string>Gcircumflex g.double</string>
			<string>Gbreve g.double</string>
			<string>G g.double</string>
			<string>F g.double</string>
			<string>Etilde g.double</string>
			<string>Eogonek g.double</string>
			<string>Emacron g.double</string>
			<string>Egrave g.double</string>
			<string>Edotaccent g.double</string>
			<string>Edieresis g.double</string>
			<string>Ecircumflex g.double</string>
			<string>Ecaron g.double</string>
			<string>Eacute g.double</string>
			<string>E g.double</string>
			<string>Dcroat g.double</string>
			<string>Dcaron g.double</string>
			<string>Eth g.double</string>
			<string>D g.double</string>
			<string>Cdotaccent g.double</string>
			<string>Ccircumflex g.double</string>
			<string>Ccedilla g.double</string>
			<string>Ccaron g.double</string>
			<string>Cacute g.double</string>
			<string>C g.double</string>
			<string>B g.double</string>
			<string>AE g.double</string>
			<string>Atilde g.double</string>
			<string>Aring g.double</string>
			<string>Aogonek g.double</string>
			<string>Amacron g.double</string>
			<string>Agrave g.double</string>
			<string>Adieresis g.double</string>
			<string>Acircumflex g.double</string>
			<string>Acaron g.double</string>
			<string>Abreve g.double</string>
			<string>Aacute g.double</string>
			<string>A g.double</string>
			<string>g.double A</string>
			<string>g.double Aacute</string>
			<string>g.double Abreve</string>
			<string>g.double Acaron</string>
			<string>g.double Acircumflex</string>
			<string>g.double Adieresis</string>
			<string>g.double Agrave</string>
			<string>g.double Amacron</string>
			<string>g.double Aogonek</string>
			<string>g.double Aring</string>
			<string>g.double Atilde</string>
			<string>g.double AE</string>
			<string>g.double B</string>
			<string>g.double C</string>
			<string>g.double Cacute</string>
			<string>g.double Ccaron</string>
			<string>g.double Ccedilla</string>
			<string>g.double Ccircumflex</string>
			<string>g.double Cdotaccent</string>
			<string>g.double D</string>
			<string>g.double Eth</string>
			<string>g.double Dcaron</string>
			<string>g.double Dcroat</string>
			<string>g.double E</string>
			<string>g.double Eacute</string>
			<string>g.double Ecaron</string>
			<string>g.double Ecircumflex</string>
			<string>g.double Edieresis</string>
			<string>g.double Edotaccent</string>
			<string>g.double Egrave</string>
			<string>g.double Emacron</string>
			<string>g.double Eogonek</string>
			<string>g.double Etilde</string>
			<string>g.double F</string>
			<string>g.double G</string>
			<string>g.double Gbreve</string>
			<string>g.double Gcircumflex</string>
			<string>g.double Gcommaaccent</string>
			<string>g.double Gdotaccent</string>
			<string>g.double H</string>
			<string>g.double Hbar</string>
			<string>g.double Hcircumflex</string>
			<string>g.double I</string>
			<string>g.double IJ</string>
			<string>g.double Iacute</string>
			<string>g.double Icaron</string>
			<string>g.double Icircumflex</string>
			<string>g.double Idieresis</string>
			<string>g.double Idotaccent</string>
			<string>g.double Igrave</string>
			<string>g.double Imacron</string>
			<string>g.double Iogonek</string>
			<string>g.double Itilde</string>
			<string>g.double J</string>
			<string>g.double Jacute</string>
			<string>g.double Jcircumflex</string>
			<string>g.double K</string>
			<string>g.double Kcommaaccent</string>
			<string>g.double L</string>
			<string>g.double Lacute</string>
			<string>g.double Lcaron</string>
			<string>g.double Lcommaaccent</string>
			<string>g.double Lslash</string>
			<string>g.double M</string>
			<string>g.double N</string>
			<string>g.double Nacute</string>
			<string>g.double Ncaron</string>
			<string>g.double Ncommaaccent</string>
			<string>g.double Ntilde</string>
			<string>g.double O</string>
			<string>g.double Oacute</string>
			<string>g.double Ocaron</string>
			<string>g.double Ocircumflex</string>
			<string>g.double Odieresis</string>
			<string>g.double Ograve</string>
			<string>g.double Ohungarumlaut</string>
			<string>g.double Omacron</string>
			<string>g.double Oslash</string>
			<string>g.double Otilde</string>
			<string>g.double OE</string>
			<string>g.double P</string>
			<string>g.double Thorn</string>
			<string>g.double Q</string>
			<string>g.double R</string>
			<string>g.double Racute</string>
			<string>g.double Rcaron</string>
			<string>g.double Rcommaaccent</string>
			<string>g.double S</string>
			<string>g.double Sacute</string>
			<string>g.double Saltillo</string>
			<string>g.double Scaron</string>
			<string>g.double Scedilla</string>
			<string>g.double Scircumflex</string>
			<string>g.double Scommaaccent</string>
			<string>g.double Germandbls</string>
			<string>g.double Schwa</string>
			<string>g.double T</string>
			<string>g.double Tcaron</string>
			<string>g.double Tcedilla</string>
			<string>g.double Tcommaaccent</string>
			<string>g.double U</string>
			<string>g.double Uacute</string>
			<string>g.double Ubreve</string>
			<string>g.double Ucaron</string>
			<string>g.double Ucircumflex</string>
			<string>g.double Udieresis</string>
			<string>g.double Udieresisacute</string>
			<string>g.double Udieresiscaron</string>
			<string>g.double Udieresisgrave</string>
			<string>g.double Udieresismacron</string>
			<string>g.double Ugrave</string>
			<string>g.double Uhungarumlaut</string>
			<string>g.double Umacron</string>
			<string>g.double Uogonek</string>
			<string>g.double Uring</string>
			<string>g.double Utilde</string>
			<string>g.double V</string>
			<string>g.double W</string>
			<string>g.double Wacute</string>
			<string>g.double Wcircumflex</string>
			<string>g.double Wdieresis</string>
			<string>g.double Wgrave</string>
			<string>g.double X</string>
			<string>g.double Y</string>
			<string>g.double Yacute</string>
			<string>g.double Ycircumflex</string>
			<string>g.double Ydieresis</string>
			<string>g.double Ygrave</string>
			<string>g.double Ytilde</string>
			<string>g.double Z</string>
			<string>g.double Zacute</string>
			<string>g.double Zcaron</string>
			<string>g.double Zdotaccent</string>
			<string>g.double IJ.ijslab</string>
			<string>g.double IJ.islab</string>
			<string>g.double IJ.jslab</string>
			<string>g.double I.slab</string>
			<string>g.double J.slab</string>
			<string>g.double a</string>
			<string>g.double aacute</string>
			<string>g.double abreve</string>
			<string>g.double acaron</string>
			<string>g.double acircumflex</string>
			<string>g.double adieresis</string>
			<string>g.double agrave</string>
			<string>g.double amacron</string>
			<string>g.double aogonek</string>
			<string>g.double aring</string>
			<string>g.double atilde</string>
			<string>g.double ae</string>
			<string>g.double b</string>
			<string>g.double c</string>
			<string>g.double cacute</string>
			<string>g.double ccaron</string>
			<string>g.double ccedilla</string>
			<string>g.double ccircumflex</string>
			<string>g.double cdotaccent</string>
			<string>g.double d</string>
			<string>g.double eth</string>
			<string>g.double dcaron</string>
			<string>g.double dcroat</string>
			<string>g.double e</string>
			<string>g.double eacute</string>
			<string>g.double ecaron</string>
			<string>g.double ecircumflex</string>
			<string>g.double edieresis</string>
			<string>g.double edotaccent</string>
			<string>g.double egrave</string>
			<string>g.double emacron</string>
			<string>g.double eogonek</string>
			<string>g.double etilde</string>
			<string>g.double schwa</string>
			<string>g.double f</string>
			<string>g.double g</string>
			<string>g.double gbreve</string>
			<string>g.double gcircumflex</string>
			<string>g.double gcommaaccent</string>
			<string>g.double gdotaccent</string>
			<string>g.double h</string>
			<string>g.double hbar</string>
			<string>g.double hcircumflex</string>
			<string>g.double i</string>
			<string>g.double idotless</string>
			<string>g.double iacute</string>
			<string>g.double icaron</string>
			<string>g.double icircumflex</string>
			<string>g.double idieresis</string>
			<string>g.double idotaccent</string>
			<string>g.double igrave</string>
			<string>g.double ij</string>
			<string>g.double imacron</string>
			<string>g.double iogonek</string>
			<string>g.double itilde</string>
			<string>g.double j</string>
			<string>g.double jdotless</string>
			<string>g.double jacute</string>
			<string>g.double jcircumflex</string>
			<string>g.double k</string>
			<string>g.double kcommaaccent</string>
			<string>g.double l</string>
			<string>g.double lacute</string>
			<string>g.double lcaron</string>
			<string>g.double lcommaaccent</string>
			<string>g.double lslash</string>
			<string>g.double m</string>
			<string>g.double n</string>
			<string>g.double nacute</string>
			<string>g.double ncaron</string>
			<string>g.double ncommaaccent</string>
			<string>g.double ntilde</string>
			<string>g.double o</string>
			<string>g.double oacute</string>
			<string>g.double ocaron</string>
			<string>g.double ocircumflex</string>
			<string>g.double odieresis</string>
			<string>g.double ograve</string>
			<string>g.double ohungarumlaut</string>
			<string>g.double omacron</string>
			<string>g.double oslash</string>
			<string>g.double otilde</string>
			<string>g.double oe</string>
			<string>g.double p</string>
			<string>g.double thorn</string>
			<string>g.double q</string>
			<string>g.double r</string>
			<string>g.double racute</string>
			<string>g.double rcaron</string>
			<string>g.double rcommaaccent</string>
			<string>g.double s</string>
			<string>g.double sacute</string>
			<string>g.double saltillo</string>
			<string>g.double scaron</string>
			<string>g.double scedilla</string>
			<string>g.double scircumflex</string>
			<string>g.double scommaaccent</string>
			<string>g.double germandbls</string>
			<string>g.double longs</string>
			<string>g.double t</string>
			<string>g.double tcaron</string>
			<string>g.double tcedilla</string>
			<string>g.double tcommaaccent</string>
			<string>g.double u</string>
			<string>g.double uacute</string>
			<string>g.double ubreve</string>
			<string>g.double ucaron</string>
			<string>g.double ucircumflex</string>
			<string>g.double udieresis</string>
			<string>g.double udieresisacute</string>
			<string>g.double udieresiscaron</string>
			<string>g.double udieresisgrave</string>
			<string>g.double udieresismacron</string>
			<string>g.double ugrave</string>
			<string>g.double uhungarumlaut</string>
			<string>g.double umacron</string>
			<string>g.double uogonek</string>
			<string>g.double uring</string>
			<string>g.double utilde</string>
			<string>g.double v</string>
			<string>g.double w</string>
			<string>g.double wacute</string>
			<string>g.double wcircumflex</string>
			<string>g.double wdieresis</string>
			<string>g.double wgrave</string>
			<string>g.double x</string>
			<string>g.double y</string>
			<string>g.double yacute</string>
			<string>g.double ycircumflex</string>
			<string>g.double ydieresis</string>
			<string>g.double ygrave</string>
			<string>g.double ytilde</string>
			<string>g.double z</string>
			<string>g.double zacute</string>
			<string>g.double zcaron</string>
			<string>g.double zdotaccent</string>
			<string>g.double g.double</string>
			<string>g.double a.single</string>
			<string>g.double A-cy</string>
			<string>g.double Be-cy</string>
			<string>g.double Ve-cy</string>
			<string>g.double Ge-cy</string>
			<string>g.double De-cy</string>
			<string>g.double Ie-cy</string>
			<string>g.double Io-cy</string>
			<string>g.double Zhe-cy</string>
			<string>g.double Ze-cy</string>
			<string>g.double Ii-cy</string>
			<string>g.double Iishort-cy</string>
			<string>g.double Ka-cy</string>
			<string>g.double El-cy</string>
			<string>g.double Em-cy</string>
			<string>g.double En-cy</string>
			<string>g.double O-cy</string>
			<string>g.double Pe-cy</string>
			<string>g.double Er-cy</string>
			<string>g.double Es-cy</string>
			<string>g.double Te-cy</string>
			<string>g.double U-cy</string>
			<string>g.double Ef-cy</string>
			<string>g.double Ha-cy</string>
			<string>g.double Che-cy</string>
			<string>g.double Tse-cy</string>
			<string>g.double Sha-cy</string>
			<string>g.double Shcha-cy</string>
			<string>g.double Softsign-cy</string>
			<string>g.double Yeru-cy</string>
			<string>g.double Hardsign-cy</string>
			<string>g.double Ereversed-cy</string>
			<string>g.double Yu-cy</string>
			<string>g.double Ya-cy</string>
			<string>g.double a-cy</string>
			<string>g.double be-cy</string>
			<string>g.double ve-cy</string>
			<string>g.double ge-cy</string>
			<string>g.double de-cy</string>
			<string>g.double ie-cy</string>
			<string>g.double io-cy</string>
			<string>g.double zhe-cy</string>
			<string>g.double ze-cy</string>
			<string>g.double ii-cy</string>
			<string>g.double iishort-cy</string>
			<string>g.double ka-cy</string>
			<string>g.double el-cy</string>
			<string>g.double em-cy</string>
			<string>g.double en-cy</string>
			<string>g.double o-cy</string>
			<string>g.double pe-cy</string>
			<string>g.double er-cy</string>
			<string>g.double es-cy</string>
			<string>g.double te-cy</string>
			<string>g.double u-cy</string>
			<string>g.double ef-cy</string>
			<string>g.double ha-cy</string>
			<string>g.double che-cy</string>
			<string>g.double tse-cy</string>
			<string>g.double sha-cy</string>
			<string>g.double shcha-cy</string>
			<string>g.double softsign-cy</string>
			<string>g.double yeru-cy</string>
			<string>g.double hardsign-cy</string>
			<string>g.double ereversed-cy</string>
			<string>g.double yu-cy</string>
			<string>g.double ya-cy</string>
		</array>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>m01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>26F Sans Regular</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>uni01CF</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>uni004A0301</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>uni01D1</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>S</string>
		<string>Sacute</string>
		<string>uniA78B</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E9E</string>
		<string>uni018F</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>uni01D3</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01D5</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>IJ.ijslab</string>
		<string>IJ.islab</string>
		<string>IJ.jslab</string>
		<string>I.slab</string>
		<string>J.slab</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni01CE</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>uni0259</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>uni01D0</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>uni0237</string>
		<string>uni006A0301</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>uni0137</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>uni01D2</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>s</string>
		<string>sacute</string>
		<string>uniA78C</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>t</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>uni01D4</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01D6</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>uni1EF9</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>g.double</string>
		<string>a.single</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0401</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041A</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0427</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni042C</string>
		<string>uni042B</string>
		<string>uni042A</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>uni042F</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0434</string>
		<string>uni0435</string>
		<string>uni0451</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043A</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0447</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni044C</string>
		<string>uni044B</string>
		<string>uni044A</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>one.base</string>
		<string>zero.dotted</string>
		<string>four.open</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>six.osf</string>
		<string>seven.osf</string>
		<string>eight.osf</string>
		<string>nine.osf</string>
		<string>zero.slashed</string>
		<string>one.osf.base</string>
		<string>zero.osf.dotted</string>
		<string>zero.osf.slashed</string>
		<string>uni205F</string>
		<string>.notdef</string>
		<string>uni2001</string>
		<string>uni2003</string>
		<string>uni2000</string>
		<string>uni2002</string>
		<string>uni2007</string>
		<string>uni2005</string>
		<string>uni200A</string>
		<string>uni202F</string>
		<string>uni2008</string>
		<string>uni2006</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni2009</string>
		<string>uni2004</string>
		<string>uni200B</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>infinity</string>
		<string>integral</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>arrowup</string>
		<string>uni2197</string>
		<string>arrowright</string>
		<string>uni2198</string>
		<string>arrowdown</string>
		<string>uni2199</string>
		<string>arrowleft</string>
		<string>uni2196</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>uni25CC</string>
		<string>lozenge</string>
		<string>uni0306.cy</string>
		<string>uni0306.cy.case</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni030C.alt</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0312</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>uni0308.case</string>
		<string>uni0307.case</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>uni030B.case</string>
		<string>uni0302.case</string>
		<string>uni030C.case</string>
		<string>uni0306.case</string>
		<string>uni030A.case</string>
		<string>tildecomb.case</string>
		<string>uni0304.case</string>
	</array>
</dict>
</plist>
